<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.faon.blog.mapper.RolePermissionMapper">

    <resultMap id="BaseResultMap" type="com.faon.blog.entity.SystemRolePermission">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="role_id" jdbcType="INTEGER" property="roleId" />
        <result column="permission_id" jdbcType="INTEGER" property="permissionId" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <collection property="permissions" column="role_id" ofType="com.faon.blog.entity.SystemPermission" select="com.faon.blog.mapper.PermissionMapper.findPermissionByPermissionId"/>
    </resultMap>

    <sql id="selectField">
        id,role_id,permission_id,status
    </sql>

    <select id="findByRoleId" parameterType="int" resultMap="BaseResultMap">
        select
        <include refid="selectField"/>
        from  role_permission
        where role_id = #{roleId} and  status = 0
    </select>



</mapper>