<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.faon.blog.mapper.UserRoleMapper">

    <resultMap id="BaseResultMap" type="com.faon.blog.entity.SystemUserRole">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="user_id" jdbcType="INTEGER" property="userId" />
        <result column="role_id" jdbcType="INTEGER" property="roleId" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <collection property="systemRoles" column="role_id" ofType="com.faon.blog.entity.SystemRole" select="com.faon.blog.mapper.RoleMapper.findRoleById"/>
    </resultMap>

    <sql id="selectField">
        id,user_id,role_id,status
    </sql>

    <select id="findByUserId" parameterType="int" resultMap="BaseResultMap" resultType="com.faon.blog.entity.SystemUserRole">
        select
        <include refid="selectField"/>
        from  user_role
        where user_id = #{userId} and  status = 0
    </select>



</mapper>